<div id="<%= id %>" class="<%= :class %>">
  <ul class="<%= :class %>">
    <li id="<%= active %>"><%= link_to (content_tag("span","Players"), players_path) %></li> <!-- Active -->
  </ul>
</div> <!-- /header -->