<ul class="<%= :class %>">
  <li><%= link_to "Players", players_path %></li>
  <li><%= link_to "Next games", games_path %></li>
  <li><%= link_to "Played games", played_games_path %></li>
  <li><%= link_to "Trophies", trophies_path %></li>
  <li><%= link_to "New player", new_player_path %></li>
  <li><%= link_to "New game", new_game_path %></li>
  <li><%= link_to "New trophy", new_trophy_path %></li>
</ul>
